@import "@/assets/css/variables.scss";

body, html, #__nuxt, #__layout {
  height:100%
}

body {
  background-color: #000;
}

.page-content {
  flex-grow: 1;
  color: #f7f8fb;
  margin-top: 6.5rem;

  @media screen and (min-width: 768px) {
    margin-top: 4rem;
  }
}

.bd-sidebar-wrapper {
  position: fixed;
  top: 4rem;
  z-index: 1000;
  padding-left: 0;
  padding-right: 0;
}

@media all and (min-width: 768px){
  .bd-sidebar-wrapper {
    position: fixed;
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  background-color: rgba(112, 116, 122,.3);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(112, 116, 122, .3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(112, 116, 122, 0.55);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(112, 116, 122, 0.55);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(112, 116, 122, 0.55);
}

.breadcrumbs {
  background-color: #1f1f1f;

  a {
    color: $main_color;
  }

  div:last-child, i {
    color: #adb5bd;
  }
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}
